:root {
  --vf-bg: #2e3440;
  --vf-blue: #88c0d0;
  --vf-magenta: #b48ead;
  --vf-trueWhite: #eceff4;
  --vf-white: #eceff4;
  --vf-pink: #ffc0cb;
  --vf-red: #bf616a;
}

div > .vimiumHintMarker {
  padding: 3px 4px;
  background: var(--vf-bg) !important;
  border: none;
  box-shadow: none;
}

/* Link hint text */
div > .vimiumHintMarker span {
  color: var(--vf-trueWhite) !important;
}

/* Link hint matching characters */
div > .vimiumHintMarker > .matchingCharacter {
  color: var(--vf-blue) !important;
}

#vomnibar {
  background: var(--vf-bg) !important;
  background-color: var(--vf-bg) !important;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  animation: show 50ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
  color: var(--vf-blue) !important;
  background-color: var(--vf-bg) !important;
  border: none;
  box-shadow: none;
  outline: none;
}

#vomnibar .vomnibarSearchArea {
  padding: 10px 30px;
}

#vomnibar input {
  padding: 0;
}

#vomnibar ul {
  padding: 0;
  background: var(--vf-bg) !important;
  border-top: 1px solid var(--vf-bg) !important;
}

#vomnibar li {
  padding: 10px;
  border-bottom: 1px solid var(--vf-bg) !important;
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  padding: 3px 0;
}

#vomnibar li .vomnibarSource {
  color: var(--vf-trueWhite) !important;
}

#vomnibar li .vomnibarUrl {
  color: var(--vf-trueWhite) !important;
  font-weight: normal;
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: var(--vf-magenta) !important;
  font-weight: normal;
}

#vomnibar li .vomnibarMatch {
  font-weight: bold;
  color: var(--vf-trueWhite) !important;
}

#vomnibar li em .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--vf-magenta) !important;
  font-weight: bold;
}

#vomnibar li.vomnibarSelected {
  background-color: var(--vf-blue) !important;
  font-weight: normal;
}
#vomnibarInput::selection {
  background-color: var(--vf-blue) !important;
  color: var(--vf-bg) !important;
}

div.vimiumHUD {
  background: var(--vf-bg) !important;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--vf-trueWhite) !important;
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
}
